<section>
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input type="email" matInput placeholder="Email address" ngModel name="email" email required>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" ngModel name="password" required minlength="4">
      <mat-hint>Must be at least 4 characters long</mat-hint>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
  </form>
</section>
